.popup__input{
    width: 358px;
    margin: 0 auto 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    outline: none;
    transition: .5s;
    font-family:  "inter", "Arial ", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.popup__input:focus{
    border-bottom: 2px solid rgba(26, 115, 168, .5);
}


.popup__input:nth-child(4){
    margin-bottom: 0;
}

@media (max-width: 768px){
    .popup__input{
        width: 238px;
        margin: 0 auto 30px;
    }
}