.close-icon{
    position: absolute;
    width: 32px;
    right: -40px;
    top: -40px;
}

@media (max-width: 768px){
    .close-icon{
        width: 20px;
        top: -32px;
        right: 0;
    }
}